Django
coveralls
django-classy-settings
django-cors-headers
django-haystack
djangorestframework
factory-boy
numpy
pandas
pyahocorasick
pytest
pytest-cov
pytest-django
pytest-factoryboy
python-dotenv
requests
